[submodule "rosbot_navigation"]
	path = rosbot_navigation
	url = git@bitbucket.org:roboworkscode/rosbot_navigation.git
	branch = develop
[submodule "rosbot_perception"]
	path = rosbot_perception
	url = git@bitbucket.org:roboworkscode/rosbot_perception.git
	branch = develop
[submodule "rosbot_description"]
	path = rosbot_description
	url = git@bitbucket.org:roboworkscode/rosbot_description.git
	branch = develop
[submodule "rosbot_drivers"]
	path = rosbot_drivers
	url = git@bitbucket.org:roboworkscode/rosbot_drivers.git
	branch = develop
[submodule "rosbot_utils"]
	path = rosbot_utils
	url = git@bitbucket.org:roboworkscode/rosbot_utils.git
	branch = develop
[submodule "rosbot_slam"]
	path = rosbot_slam
	url = git@bitbucket.org:roboworkscode/rosbot_slam.git
	branch = develop
[submodule "rosbot_node"]
	path = rosbot_node
	url = git@bitbucket.org-daryl-roboworks:roboworkscode/rosbot_node.git
	branch = develop